{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination-info">
    Exibindo {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ total }}
</div>
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?{{ query_string }}&page=1">&laquo;</a>
    <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">&lsaquo;</a>
    {% else %}
    <span class="disabled">&laquo;</span>
    <span class="disabled">&lsaquo;</span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <span class="current">{{ num }}</span>
        {% elif num > page_obj.number|add:"-4" and num < page_obj.number|add:"4" %}
        <a href="?{{ query_string }}&page={{ num }}">{{ num }}</a>
        {% elif num == 1 or num == page_obj.paginator.num_pages %}
        <a href="?{{ query_string }}&page={{ num }}">{{ num }}</a>
        {% elif num == page_obj.number|add:"-4" or num == page_obj.number|add:"4" %}
        <span class="disabled">...</span>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">&rsaquo;</a>
    <a href="?{{ query_string }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% else %}
    <span class="disabled">&rsaquo;</span>
    <span class="disabled">&raquo;</span>
    {% endif %}
</div>
{% endif %}
